body {
  text-align: center;
  background-color: #809AE0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  margin: 10px;
}

.game-over {
  background-color: #F02A2A;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 0 90% 0 0;
}

.green {
  background-color: green;
  border-radius: 90% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 90% 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 90%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
