body {
  text-align: center;
  background-color: #809AE0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  position: relative;
  display: block;
  height: 500px;
  width: 500px;
  margin: auto;
  padding: 10px;
  /*background-color: #3f3f3f;*/
  /*border-radius: 50%;*/
}

.middle {
  position: absolute;
  top: 150px;
  left: 158px;
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: #809AE0;
  border-radius: 100%;
}

.btn {
  display: inline-block;
  height: 200px;
  width: 200px;
  /*border: 10px solid black;*/
  margin: 20px;
}

.game-over {
  background-color: #F02A2A;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 10% 100% 10% 10%;
}

.green {
  background-color: limegreen;
  border-radius: 100% 10% 10% 10%;
}

.blue {
  background-color: mediumblue;
  border-radius: 10% 10% 100% 10%;
}

.yellow {
  background-color: yellow;
  border-radius: 10% 10% 10% 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
